.App {
  margin: 0;
  width: 100%;
}

* {
  transition: background-color 0.5s, color 0.1s;
  font-family: "Nunito Sans", sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  height: 4px;
  width: 8px;
  background: var(--element-color);
}
::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 5px;
}
